<div class = "container-fluid mb-5">
    <h1>Delete Movie</h1>
    <form #deleteForm = "ngForm" (ngSubmit)="deleteMovie(deleteForm)">
        <div class="form-group">
            <label class="form-group'level">Movie Id</label>
            <input type="text" required #movieId="ngModel" pattern="^\d+$" name="movieId" class="form-control" ngModel>
        </div>

        <div class="alert alert-danger" *ngIf="movieId.errors && (movieId.dirty || movieId.touched)">
            <div *ngif="movieId.errors.required"> 
                Movie Id is required
            </div>
        
            <div *ngIf="movieId.errors.pattern">
                   Movie Id should be numeric
            </div>
        </div>

        <button [disabled]="deleteForm.form.invalid" class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>
<div class="container" *ngIf="show">
    <small style="color:blue;">{{response}}</small>
 </div>
